* {
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.danger-setting {
  color: #f04747 !important;
}

.caret {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.close-settings {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border-color: #72767d;
  cursor: pointer;
}

.close-settings:hover {
  background-color: rgba(114, 118, 125, 0.3);
}

.esc {
  position: fixed;
  top: 5rem;
  left: 85%;
  height: 4rem;
  width: 3rem;
  z-index: 10;
}

.danger-setting:hover {
  background-color: rgba(240, 71, 71, 0.1) !important;
}

.anim-serv {
  background-color: #36393f;
}

.anim-serv:hover > svg > path {
  fill: white;
}

.anim-serv:hover {
  background-color: #007bff;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #36393f;
}

.scrollable {
  display: flex 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.servers-home-wrapper {
  width: 5.5rem;
  height: 100vh;
  background-color: #202225;
  user-select: none;
  position: relative;
}

.server-chat-wrapper {
  width: 47rem;
  height: 100vh;
  position: relative;
  user-select: none;
}

.server-member-wrapper {
  width: calc(100vw - 69.5rem);
  height: 100vh;
  position: relative;
  user-select: none;
  background-color: #2f3136;
}

.show {
  background-color: black;
}

.cb {
  width: 24px;
  height: 24px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.cb-checked {
  border-color: #fff;
  background-color: #fff;
}

.cb-unchecked {
  border-color: #72767d;
}

.cb-wrapper {
  border: 1px solid #000000;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.member-options {
  z-index: -100;
  visibility: hidden;
  position: absolute;
  width: 12rem;
  left: 1rem;
  border-radius: 4px;
  min-height: 15rem;
  background-color: #18191c;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  border-radius: 10px;
  height: 6px;
  background: #7289da;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: e-resize;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: e-resize;
}

.member-option {
  width: 95%;
  height: 2.2rem;
  border-radius: 2px;
  cursor: pointer;
}

.cb-selected {
  background-color: #7289da !important;
}

#createChannelModal,
#inviteModal,
#uploadImageModal,
#memberProfileModal {
  background-color: rgb(0, 0, 0, 0.85);
  z-index: 100;
}

#createServerModal {
  background-color: transparent;
}

.modal-header {
  border-bottom: none !important;
}

.modal-content {
  color: white;
  background-color: #36393f !important;
}

.cs-content {
  background-color: #fff !important;
}

.close {
  outline: 0 !important;
  outline-width: 0px !important;
  color: white !important;
}

.dm-channels-wrapper {
  width: 17rem;
  height: 100vh;
  position: relative;
  user-select: none;
}

.search-wrapper {
  width: calc(100vw - 5.5rem);
  height: 100vh;
  position: relative;
  user-select: none;
}

.dm {
  width: 17rem;
  height: 90vh;
  background-color: #2f3136;
}

#user {
  width: 17rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292b2f;
  cursor: pointer;
}

#userbox {
  width: 95%;
  height: 75%;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2c2f33;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #23272a;
  border-radius: 5px;
}

.servers-home-wrapper::-webkit-scrollbar {
  display: none;
}

.box {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
}

.notification {
  height: 8px;
  width: 5px;
  background-color: white;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  transition-duration: 0.1s;
}

.notification-hover {
  height: 1.3rem;
  background-color: white;
}

.notification-selected {
  height: 2.5rem;
}

.notification-selected + .hover-border {
  border-radius: 1.2rem;
}

.notification-none {
  height: 1.3rem;
  width: 5px;
  background-color: none;
  transition-duration: 0.1s;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.server,
.sample {
  margin-left: 0.4rem;
  width: 4rem;
  border-radius: 5rem;
  height: 4rem;
  overflow: hidden;
  cursor: pointer;
}

.member {
  width: 2rem;
  height: 2rem;
}

.hover-border {
  transition-duration: 0.1s;
}

.hover-border:hover {
  border-radius: 1.2rem;
}

.cs-server:hover {
  -webkit-box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.75) !important;
  box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.75) !important;
}

.message:hover {
  background-color: #32353b;
}

.message-input-form {
  width: 100%;
  height: 100%;
  border-top: 1px solid #72776d;
}

.upload-btn-wrapper {
  flex: 0 0 auto;
  border-right: 1.5px solid #36393f;
  align-self: "stretch";
  position: sticky;
  background-color: #40444a;
}

.serverTile {
  height: 10vh;
  width: 100%;
}

.serverTile:hover > div {
  background-color: #33363c;
}

.chat-btn {
  height: 44px;
  padding: 15px;
  border: 0;
  outline: 0 !important;
  outline-width: 0px !important;
  background: transparent;
  cursor: pointer;
}

.chat-btn:hover > img {
  filter: invert(100%) sepia(67%) saturate(49%) hue-rotate(230deg)
    brightness(117%) contrast(100%);
}

.chat-user {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.edit {
  background-color: #7289da;
}

.cp-link {
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}

.cp-link:hover {
  text-decoration: underline;
}

.edit:hover {
  background-color: #677bc4;
}

.chat-message {
  margin-left: 5rem;
  user-select: text;
}

.server img,
.sample img {
  min-height: 100%;
}

.home {
  border-radius: 1.5rem;
}

.friends {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendsbox,
.status-option,
.server-option,
.friend-option,
#addFriend {
  width: 95%;
  height: 85%;
  border-radius: 5px;
  cursor: pointer;
}

.friend-option:hover,
.friendsbox:hover,
.friend:hover,
.member-option:hover {
  background-color: rgba(79, 84, 92, 0.32);
}

.channel:hover .o-options {
  visibility: visible !important;
}

.foactive .o-options {
  visibility: visible !important;
}

.foactive {
  cursor: default;
}

.activetab,
.activestatus,
.foactive,
.activeSetting,
.activeUser {
  background-color: rgba(79, 84, 92, 0.32);
}

.activetab #friendsicon {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(214deg)
    brightness(105%) contrast(100%);
}

.activetab .friendstext,
.activeSetting {
  color: white !important;
}

.foactive .friendstext {
  color: white;
}

.friendstext {
  margin-bottom: 0;
  font-weight: bold;
  color: #8e9297;
}

.friendsbox:hover .friendstext {
  color: white;
}

.friendsbox:hover #friendsicon {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(214deg)
    brightness(105%) contrast(100%);
}

.add:hover > .o-options,
.add:hover > img {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(214deg)
    brightness(105%) contrast(100%);
}

.add:hover > p {
  color: white;
}

#friendsicon,
.highlight:hover {
  filter: invert(63%) sepia(6%) saturate(257%) hue-rotate(173deg)
    brightness(91%) contrast(90%);
}

.friendPic {
  width: 2.5rem;
  border-radius: 5rem;
  height: 2.5rem;
  overflow: hidden;
}

.embed-loading {
  height: 6rem;
}

.embed {
  width: 90%;
  border-radius: 4px;
  border-left: 5px solid rgba(32, 34, 37, 1);
  background-color: #2f3136;
}

.typing {
  width: 45.5rem;
  margin-left: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: fixed;
  top: 86vh;
  left: 22.5rem;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  background-color: #292b2f;
}

.options,
.o-options {
  width: 35px;
  height: 32px;
  cursor: pointer;
  border-radius: 3px;
}

.options:hover,
.o-options:hover {
  background-color: rgba(79, 84, 92, 0.32);
}

.not-option:hover {
  background-color: initial;
}

.options img,
.o-options img {
  max-height: 20px;
  filter: invert(63%) sepia(6%) saturate(257%) hue-rotate(173deg)
    brightness(91%) contrast(90%);
}

.friendProfilePic {
  min-height: 100%;
}

.friend:hover .friendstext {
  color: white;
}

#profilepic:hover {
  opacity: 0.8;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.online {
  background-color: rgba(66, 153, 112, 1);
}

.busy {
  background-color: rgba(208, 140, 41, 1);
}

.dnd {
  background-color: #f04747;
}

.offline {
  background-color: rgba(100, 110, 122, 1);
}

.server-setting-dropdown {
  position: absolute;
  background-color: #18191c;
  left: 10px;
  width: 90%;
  z-index: -10;
  border-radius: 4px;
  height: 0;
  opacity: 0;
}

.change-status {
  position: absolute;
  top: 46vh;
  left: 1rem;
  width: 15rem;
  height: 0;
  opacity: 0;
  z-index: -10;
  border-radius: 4px;
  background-color: #202225;
  overflow: hidden;
}

.status-option:hover,
.server-option:hover {
  background-color: rgba(79, 84, 92, 0.32);
}

.chat-dm-friends-wrapper {
  width: calc(100vw - 22.5rem);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 22.5rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e9297;
}

.divider::after {
  left: 100%;
  margin-left: 8px;
  flex: 1 1 auto;
  content: "";
  height: 1px;
  border-bottom: 1px solid #72776d;
}

.divider::before {
  flex: 1 1 auto;
  content: "";
  right: 100%;
  margin-right: 8px;
  height: 1px;
  border-bottom: 1px solid #72776d;
}

.friend-status-options {
  width: 100%;
  height: 10vh;
}

.click {
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.25, 0.315, 1.35);
  transition: all 0.35s cubic-bezier(0.25, 0.25, 0.315, 1.35);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

#message {
  border: 0;
  outline: 0;
  outline-width: 0px;
  color: white;
}

.click:hover {
  transform: translateY(2px);
}

.btn:focus {
  box-shadow: none !important;
}

.cover {
  height: 85vh;
}

.setting,
.user {
  width: 95%;
  height: 100%;
  border-radius: 0.15rem;
  cursor: pointer;
  color: #8e9297;
}

.setting:hover,
.user:hover {
  background-color: rgba(79, 84, 92, 0.32);
  color: #dcddde;
}

.server-card {
  width: 17rem;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: #202225;
  position: relative;
  transition-duration: 0.2s;
}

.server-card:hover {
  transform: scale(1.01);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.avatar-set {
  left: 30% !important;
  visibility: visible;
}

.profile {
  width: 8rem;
  border-radius: 5rem;
  height: 8rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.change-avatar {
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 14px;
  font-weight: bolder;
}

.avatar-not-set {
  visibility: hidden;
}

.form-control-file {
  visibility: hidden;
  width: 0;
  height: 0;
}

.profile-set {
  opacity: 0.5;
}
.profile:hover .avatar-not-set {
  visibility: visible;
}

.profile:hover > img {
  opacity: 0.5;
}

.login-bg {
  background-image: url(./pixart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.finput {
  border: 1px solid #000000 !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.invite {
  border: 1px solid #000000;
  color: white;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.invite:focus {
  box-shadow: none !important;
}

.finput:focus {
  box-shadow: none !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #7289da !important;
}

.flink,
.flink:hover {
  color: #7289da !important;
  text-decoration: none !important;
}
